name: Run dbt models

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write' # This permission is crucial for OIDC authentication

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- ADD THIS AUTHENTICATION STEP ---
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          # Replace with your specific GCP project ID and Service Account Email
          project_id: "int-dev-001"
          #service_account: "llyod-wif@int-dev-001.iam.gserviceaccount.com"
          workload_identity_provider: "projects/226403353486/locations/global/workloadIdentityPools/github/providers/llyod-github"
        
          #credentials_json: '${{ secrets.GCP_SA_KEY }}'
      # -- set environmental variables before running dbt --- 
      - name: Set DBT_GOOGLE_PROJECT Env Var
        run: echo "DBT_GOOGLE_PROJECT=int-dev-001" >> $GITHUB_ENV

      # --- Optional: Install Python and dbt if you don't have a dedicated dbt action ---  
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.17'

      - name: Install requirements
        run: pip install -r requirements.txt  

      - name: Check connection
        run: dbt debug

      - name: Install dbt dependencies
        run: dbt deps

      # --- Run dbt commands ---
      - name: Run dbt build
        # The auth action automatically sets GOOGLE_APPLICATION_CREDENTIALS and configures the environment
        run: dbt test
        # Add any necessary dbt CLI arguments here (e.g., --target prod)
